<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Property Manager
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_dots.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.min.js"></script>
  <!--  <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- CSS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/now-ui-dashboard.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/dashboard.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/demo.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/sms.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/stepper.css}" />

</head>

<body class="">

<!-- The Modal -->
<div class="modal" id="addPaymentReceipts">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Receipt Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div>
          <input type="hidden" name="_token" value="">

          <div class="form-group">
            <div>
              <input class="form-control text_area_details" type="number" placeholder="Amount Paid" id="paidAmount" style="height: 30px" required>
            </div>
          </div>
          <div class="form-group">
            <div>
              <textarea class="form-control" placeholder="Receipt Reference No" id="referenceNo" rows="1" required></textarea>
            </div>
          </div>

          <div class="row mt-3">

            <div class="dropdown col-md-6">
              <div>

                <label> Select the property: </label>

              </div>
            </div>

            <div class="dropdown col-md-6">


              <select  id="propertySelectName">
                <option th:each="propertyName : ${propertyNameList}" th:value="${propertyName}" th:text="${propertyName}"></option>
              </select>

            </div>


          </div>
          <div class="row">
            <div class="dropdown col-md-6">
              <div>

                <label> Select receipt date: </label>

              </div>
            </div>

            <div class="dropdown col-md-6">
              <div>
                <input class="btn btn-secondary" type="date" placeholder="ReceiptDate" id="receiptDate"/>
              </div>
            </div>


          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <div class="form-group">
              <div>
                <button type="submit" class="btn btn-success" onclick="submitReceiptData()" >
                  Add Receipt Info
                </button>
              </div>
              <!--                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->

            </div>
          </div>

        </div>
      </div>



    </div>
  </div>
</div>

<!--Utilities deposit-->
<div class="modal" id="addUtilitiesExpenses">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add any incurred utilities expenses</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div>
          <input type="hidden" name="_token" value="">

          <div class="row mt-3">

            <div class="dropdown col-md-6">
              <div>

                <label> Select the property: </label>

              </div>
            </div>

            <div class="dropdown col-md-6">


              <select  id="propertyNames">
                <option th:each="propertyName : ${propertyNameList}" th:value="${propertyName}" th:text="${propertyName}"></option>
              </select>

            </div>


          </div>
          <div class="row">
            <div class="dropdown col-md-6">
              <div>
                <input class="form-control text_area_details" type="text" placeholder="Utility Expense Name" id="utilityExpenseName" style="height: 70px">
              </div>
            </div>
            <div class="dropdown col-md-6">
              <div>
                <input class="form-control text_area_details" type="number" placeholder="Deposit Amount" id="utilityDepositAmount"  style="height: 70px">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="dropdown col-md-6">
              <div>

                <label> Select Payment Date: </label>

              </div>
            </div>

            <div class="dropdown col-md-6">
              <div>
                <input class="btn btn-secondary" type="date" placeholder="expenseDate" id="expenseDate"/>
              </div>
            </div>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <div class="form-group">
              <div>
                <button class="btn btn-success" onclick="submitUtilityExpense()" >
                  Save
                </button>
              </div>
              <!--                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->

            </div>
          </div>

        </div>
      </div>



    </div>
  </div>
</div>

<!--Utilities deposit-->
<div class="modal" id="addExtraExpenses">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add any incurred extra expenses</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div>
          <input type="hidden" name="_token" value="">

          <div class="row mt-3">

            <div class="dropdown col-md-6">
              <div>

                <label> Select the property: </label>

              </div>
            </div>

            <div class="dropdown col-md-6">


              <select  id="nameProperty">
                <option th:each="propertyName : ${propertyNameList}" th:value="${propertyName}" th:text="${propertyName}"></option>
              </select>

            </div>


          </div>
          <div class="row">
            <div class="dropdown col-md-6">
              <div>
                <input class="form-control text_area_details" type="text" placeholder="Enter Expense Name" id="expenseName" style="height: 70px">
              </div>
            </div>
            <div class="dropdown col-md-6">
              <div>
                <input class="form-control text_area_details" type="number" placeholder="Amount used" id="expenseDepositAmount"  style="height: 70px">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="dropdown col-md-6">
              <div>

                <label> Select Payment Date: </label>

              </div>
            </div>

            <div class="dropdown col-md-6">
              <div>
                <input class="btn btn-secondary" type="date" placeholder="expenseDate" id="paidExpenseDate"/>
              </div>
            </div>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <div class="form-group">
              <div>
                <button class="btn btn-success" onclick="submitExtraExpense()" >
                  Save
                </button>
              </div>
              <!--                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->

            </div>
          </div>

        </div>
      </div>



    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Property Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <table class="table">



          <tbody>

          <tr>
            <td> Reference no</td>
            <td> Date Paid</td>
            <td> Amount</td>
          </tr>

          <tr th:each="receipts : ${receiptsList}">

            <td th:text="${receipts.getReceiptReference()}">Receipt no</td>
            <td th:text="${receipts.getDatePaid()}">DatePaid</td>
            <td th:text="${receipts.getRentAmount()}">Amount</td>


          </tr>

          </tbody>
        </table>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myAddPropertyModal">

  <!-- Modal Header -->


  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Property Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div >
          <input type="hidden" name="_token" value="">
          <div class="form-group">
            <div>
              <textarea class="form-control" placeholder="Property name" id="propertyName" rows="1" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <div>
              <textarea class="form-control" placeholder="Property Location" id="propertyLocation" rows="1" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <div>
              <textarea class="form-control" placeholder="Property More details" id="moreDetails" rows="2"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div>
              <textarea class="form-control" placeholder="Landlord Details" id="landLordDetails" rows="2" required></textarea>
            </div>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="chk[]" id="checkboxVat" value="Yes"> Does the Property have VAT?</label>
          </div>

          <div class="row">
            <div class="dropdown col-md-6">
              <div>
                <input class="form-control text_area_details" type="number" placeholder="Incremental % p.a." id="incrementalPerc" style="height: 30px">
              </div>
            </div>
            <div class="dropdown col-md-6">
              <div>
                <input class="form-control text_area_details" type="number" placeholder="Deposit Amount" id="depositAmount"  style="height: 30px">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="dropdown col-md-6">
              <div>
                <input class="form-control text_area_details" type="number" placeholder="Rent Amount" id="rentAmount" style="height: 30px">
              </div>
            </div>
            <div class="dropdown col-md-6">
              <div>
                <input class="form-control text_area_details" type="number" placeholder="Tenancy Period (yrs)" id="tenancyPeriod"  style="height: 30px">
              </div>
            </div>
          </div>


          <div class="row mt-3">

            <div class="dropdown col-md-6">
              <div>

                <label> Select the periods of payments: </label>

              </div>
            </div>

            <div class="dropdown col-md-6">

              <select id="combo">
                <option value="1">Monthly</option>
                <option value="1">Quartely</option>
                <option value="1">Half Yearly</option>
                <option value="1">Yearly</option>
              </select>

            </div>


          </div>
          <div class="row">
            <div class="dropdown col-md-6">
              <div>

                <label> Select the date of occupancy </label>

              </div>
            </div>

            <div class="dropdown col-md-6">
              <div>
                <input class="btn btn-secondary" type="date" placeholder="Date of occupation" id="occupationDate"/>
              </div>
            </div>


          </div>


          <div class="form-group">
            <div>
              <button  class="btn btn-success" onclick="submitData()">
                Add Property
              </button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->


</div>

<div class="wrapper ">

  <div data-th-include="sidebar.html"></div>

  <div class="main-panel" id="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="#">Total Rent Paid</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
            <div class="input-group no-border">
              <!--              <input type="text" value="" class="form-control" placeholder="Search...">-->
              <!--              <div class="input-group-append">-->
              <!--                <div class="input-group-text">-->
              <!--                  <i class="now-ui-icons ui-1_zoom-bold"></i>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="panel-header panel-header-lg">
      <canvas id="bigDashboardChart"></canvas>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-lg-4" style="display: none">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Increment Details</h5>
              <h4 class="card-title">Rent Increment Amount</h4>
              <div class="dropdown">
                <!--                <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">-->
                <!--                  <i class="now-ui-icons loader_gear"></i>-->
                </button>
                <!--                <div class="dropdown-menu dropdown-menu-right">-->
                <!--                  <a class="dropdown-item" href="#">Idle Texter Info</a>-->
                <!--                  <a class="dropdown-item" href="#">Download Idle Texter</a>-->
                <!--                  <a class="dropdown-item" href="#">Refresh Data</a>-->
                <!--                  <a class="dropdown-item" href="#">Download Data</a>-->
                <!--                </div>-->
              </div>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="lineChartExample"></canvas>
              </div>
            </div>
            <div class="card-footer">

            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Rent Payment</h5>
              <h4 class="card-title">Rent Paid / Rent Arrears </h4>
              <!--              <div class="dropdown">-->
              <!--                <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">-->
              <!--                  <i class="now-ui-icons loader_gear"></i>-->
              <!--                </button>-->
              <!--                <div class="dropdown-menu dropdown-menu-right">-->
              <!--                  <a class="dropdown-item" href="#">Refresh Data</a>-->
              <!--                  <a class="dropdown-item" href="#">Download Data</a>-->

              <!--                </div>-->
              <!--              </div>-->
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
              </div>
            </div>
            <div class="card-footer mt-4">

            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Property Details</h5>
              <h4 class="card-title">Property Data</h4>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="barChartSimpleGradientsNumbers"></canvas>
              </div>
            </div>
            <div class="card-footer">

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a
                              class="nav-link active"
                              href="#profile"
                              data-toggle="tab"
                      >
                        <i class="material-icons"></i> Notices
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                              class="nav-link"
                              href="#messages"
                              data-toggle="tab"
                      >
                        <i class="material-icons"></i> Rent Paid
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                              class="nav-link"
                              href="#settings"
                              data-toggle="tab"
                      >
                        <i class="material-icons"></i> Overdue Rent
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="profile">
                  <table class="table">
                    <tbody>
                    <tr th:each="notices : ${noticeList}">

                      <td class="text-center notification ">
                        <i class="fa fa-exclamation-circle"></i>
                      </td>
                      <td class="text-center notification"  th:text="${notices.getMessage()}">Name</td>

                      <td th:text="${notices.getTime()}">

                      </td>

                    </tr>


                    <!--                    <tr>-->
                    <!--                      <td class="text-center notification ">-->
                    <!--                        <i class="fa fa-exclamation-circle"></i>-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        <span class="badge badge-primary ">Pending</span> Property <a href="#">Deep State</a>-->
                    <!--                        has two overdue rents and an upcoming one for the 2nd December.-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        2014/08/08 12:08-->
                    <!--                      </td>-->
                    <!--                    </tr>-->


                    <!--                    <tr>-->
                    <!--                      <td class="text-center notification ">-->
                    <!--                        <i class="fa fa-comment "></i>-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        <span class="badge badge-warning ">Notification</span> Property <a href="# ">NIS</a>-->
                    <!--                        rent of Kshs. 6M is due on 1st June.-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        2014/08/08 12:08-->
                    <!--                      </td>-->
                    <!--                    </tr>-->


                    </tbody>
                  </table>

                </div>
                <div class="tab-pane" id="messages">
                  <table class="table">
                    <tbody>

                    <tr th:each="rentPaid : ${rentPaidList}">

                      <td class="text-center notification ">
                        <i class="fa fa-exclamation-circle"></i>
                      </td>
                      <td class="text-center notification"  th:text="${rentPaid.getMessage()}">Name</td>

                      <td th:text="${rentPaid.getTime()}">

                      </td>

                    </tr>

                    <!--                    <tr>-->
                    <!--                      <td class="text-center notification">-->
                    <!--                        <i class="fa fa-exclamation-circle"></i>-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        <span class="badge badge-warning ">Notification</span> Receipts for properties-->
                    <!--                        <a href="#">KANJATA</a> , <a href="#">Survey</a> and <a href="#">Ardhi</a>-->
                    <!--                        has been sent to your email address.-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        2014/08/08 12:08-->
                    <!--                      </td>-->
                    <!--                    </tr>-->

                    <!--                    <tr>-->
                    <!--                      <td class="text-center notification ">-->
                    <!--                        <i class="fa fa-comment"></i>-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        <span class="badge badge-success ">Completed</span> Rent for property <a href="#">KANJATA-->
                    <!--                      </a> has been paid under receipt referenced <a href="#">INV-56789</a> with a increment rate of-->
                    <!--                        <span class="badge badge-success "> 90%</span> p.a.-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        2014/08/08 12:08-->
                    <!--                      </td>-->
                    <!--                    </tr>-->
                    <!--                    <tr>-->
                    <!--                      <td class="text-center notification ">-->
                    <!--                        <i class="fa fa-comment"></i>-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        <span class="badge badge-success ">Completed</span> Rent for property <a href="#">Survey-->
                    <!--                      </a> has been paid under receipt referenced <a href="#">INV-123456</a>.</td>-->
                    <!--                      <td>-->
                    <!--                        2014/08/08 12:08-->
                    <!--                      </td>-->
                    <!--                    </tr>-->


                    </tbody>
                  </table>

                </div>
                <div class="tab-pane" id="settings">
                  <table class="table">
                    <tbody>

                    <tr th:each="overDue : ${overDueList}">

                      <td class="text-center notification ">
                        <i class="fa fa-exclamation-circle"></i>
                      </td>
                      <td class="text-center notification"  th:text="${overDue.getMessage()}">Name</td>

                      <td th:text="${overDue.getTime()}">

                      </td>

                    </tr>

                    <!--                    <tr>-->
                    <!--                      <td class="text-center notification">-->
                    <!--                        <i class="fa fa-comment"></i>-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        <span class="badge badge-danger">Overdue</span> Property Ardhi has an  overdue rent of Kshs. 1M-->
                    <!--                      </td>-->
                    <!--                      <td>-->
                    <!--                        2014/08/08 12:08-->
                    <!--                      </td>-->
                    <!--                    </tr>-->


                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Property Stats</h4>
              <p class="card-category" th:text="${propertyList.size()}"> You have 5 properties</p>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                <th>ID</th>
                <th>Name</th>
                <th>Rent (Kshs) </th>
                <th>Location</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr th:each="property : ${propertyList}">
                  <td>1</td>

                  <!--                  <td th:text="${property.propertyName()}">User</td>-->
                  <td th:text="${property.getPropertyName()}">Name</td>
                  <td th:text="${property.getPropertyRent()}">Rent</td>
                  <td th:text="${property.getPropertyLocation()}">Location</td>



                  <td>
                    <button type="submit" class="btn btn-primary"
                            data-toggle="modal"
                            th:attr="onclick=|viewModel('${property.getId()}')|">
                      View
                    </button>
<!--                    <button type="submit" class="btn btn-primary"-->
<!--                            data-toggle="modal"-->
<!--                            th:attr="onclick=|viewEditModel('${property.getId()}')|">-->
<!--                      Edit-->
<!--                    </button>-->
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Payment Receipts</h4>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                <th>ID</th>
                <th>Receipt No</th>
                <th>Amount Paid (Kshs) </th>
                <th>Date Paid</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr th:each="receipts : ${receiptsList}">
                  <td>1</td>

                  <!--                  <td th:text="${property.propertyName()}">User</td>-->
                  <td th:text="${receipts.getReceiptReference()}">Name</td>
                  <td th:text="${receipts.getRentAmount()}">Rent</td>
                  <td th:text="${receipts.getDatePaid()}">Location</td>

                  <td>
                    <button type="submit" class="btn btn-primary"
                            data-toggle="modal"
                            th:attr="onclick=|viewPaymentReceipts('${receipts.getId()}')|"
                    >
                      View
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Expenses</h4>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                <th>ID</th>
                <th>Expense Name</th>
                <th>Expense Amount </th>
                <th>Property Name</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr th:each="expenses : ${expensesList}">
                  <td>1</td>

                  <!--                  <td th:text="${property.propertyName()}">User</td>-->
                  <td th:text="${expenses.getExpenseName()}">Name</td>
                  <td th:text="${expenses.getExpenseAmount()}">Rent</td>
                  <td th:text="${expenses.getPropertyName()}">Location</td>

                  <td>
                    <button type="submit" class="btn btn-primary"
                            data-toggle="modal"
                            th:attr="onclick=|viewExpenses('${expenses.getId()}')|"
                    >
                      View
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>


  </div>
</div>
<!--   Core JS Files   -->

<script>

  function viewEditModel(id){

    $.ajax({

      type: 'GET',
      url: "/api/v1/properties/get_property/" + id,
      success: function(response) {


        $('.modal-body').html(response);

        // Display Modal
        $('#exampleModalCenter').modal('show');


      }, error: function (error) {
        alert('error: ' + error);
      }

    })

  }


  function viewModel(id){

    $.ajax({

      type: 'GET',
      url: "/api/v1/properties/get_property/" + id,
      success: function(response) {

        var html="";
        html += '<table class="table" >';


        html += '<tr>';
        html += '<td>'+"id"+'</td>';
        html += '<td>'+response.id+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Property Name"+'</td>';
        html += '<td>'+response.propertyName+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Property Location"+'</td>';
        html += '<td>'+response.propertyLocation+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Property Rent Amount"+'</td>';
        html += '<td>'+response.propertyRent+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Property Due Date"+'</td>';
        html += '<td>'+response.propertyOccupancyDate+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"VAT"+'</td>';
        html += '<td>'+response.propertyVatStatus+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Tenancy Period"+'</td>';
        html += '<td>'+response.propertyTenancyPeriod+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Property Land Lord Details"+'</td>';
        html += '<td>'+response.propertyLandlordDetails+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Incremental %"+'</td>';
        html += '<td>'+response.incrementalPerc+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"More Details"+'</td>';
        html += '<td>'+response.propertyDetails+'</td>';
        html += '</tr>';

        html += '</table>';

        $('.modal-content .modal-body').append(html)

        // $('.modal-body').html(response);

        // Display Modal
        $('#exampleModalCenter').modal('show');


      }, error: function (error) {
        alert('error: ' + error);
      }

    })

  }

  function viewPaymentReceipts(id){

    $.ajax({

      type: 'GET',
      url: "/api/v1/receipts/get_receipts/" + id,
      success: function(response) {

        var html="";
        html += '<table class="table" >';


        html += '<tr>';
        html += '<td>'+"id"+'</td>';
        html += '<td>'+response.id+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Property Name"+'</td>';
        html += '<td>'+response.propertyName+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Receipt No."+'</td>';
        html += '<td>'+response.receiptReference+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Receipt Amount"+'</td>';
        html += '<td>'+response.rentAmount+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Receipt Date"+'</td>';
        html += '<td>'+response.datePaid+'</td>';
        html += '</tr>';

        html += '</table>';

        $('.modal-content .modal-body').append(html)

        // $('.modal-body').html(response);

        // Display Modal
        $('#exampleModalCenter').modal('show');


      }, error: function (error) {
        alert('error: ' + error);
      }

    })

  }

  function viewExpenses(id){

    $.ajax({

      type: 'GET',
      url: "/api/v1/expenses/get-expense/" + id,
      success: function(response) {

        var html="";
        html += '<table class="table" >';


        html += '<tr>';
        html += '<td>'+"id"+'</td>';
        html += '<td>'+response.id+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Expense Name"+'</td>';
        html += '<td>'+response.expenseName+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Expense Date"+'</td>';
        html += '<td>'+response.expenseDate+'</td>';
        html += '</tr>';

        html += '<tr>';
        html += '<td>'+"Expense Amount"+'</td>';
        html += '<td>'+response.expenseAmount+'</td>';
        html += '</tr>';

        html += '</table>';

        $('.modal-content .modal-body').append(html)

        // $('.modal-body').html(response);

        // Display Modal
        $('#exampleModalCenter').modal('show');


      }, error: function (error) {
        alert('error: ' + error);
      }

    })

  }


</script>

<div id="exampleModalCenter" data-backdrop="static" data-keyboard="false"  role="dialog" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Property Details</h4>
          <!--          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        </div>

        <div class="modal-body">


        </div>

        <div class="modal-footer">
          <input type="button" class="btn btn-default" th:onclick="dis()"  data-dismiss="modal" value="Cancel" id="disposeBtn">
          <!--          <input type="submit" class="btn btn-info" value="Save">-->
        </div>
      </form>
    </div>
  </div>
</div>




<script>
  function dis() {
    $("#exampleModalCenter").on("hidden.bs.modal", function(){
      $(".modal-body").html("");
      location.reload();
    }); }

  function submitData() {
    var propertyName = document.getElementById("propertyName").value;
    var propertyLocation = document.getElementById("propertyLocation").value;
    var moreDetails = document.getElementById("moreDetails").value;
    var landLordDetails = document.getElementById("landLordDetails").value;
    var incrementalPerc = document.getElementById("incrementalPerc").value;
    var depositAmount = document.getElementById("depositAmount").value;
    var occupationDate = document.getElementById("occupationDate").value;
    var tenancyPeriod = document.getElementById("tenancyPeriod").value;
    var rentAmount = document.getElementById("rentAmount").value;
    var atLeastOneIsChecked = $('input[name="chk[]"]:checked').length > 0;
    var dropdownMenuButton = $('#combo :selected').text();

    if (
            propertyName && propertyLocation && moreDetails &&
            landLordDetails && incrementalPerc && depositAmount &&
            occupationDate && tenancyPeriod && rentAmount && dropdownMenuButton
    ){

      // convert to JSON
      var dataJson = {
        "propertyName":propertyName,
        "propertyLocation":propertyLocation,
        "propertyDetails":moreDetails,
        "propertyLandlordDetails":landLordDetails,
        "paymentSchedule":dropdownMenuButton,
        "propertyTenancyPeriod":tenancyPeriod,
        "propertyRentAmount":rentAmount,
        "incrementalPerc":incrementalPerc,
        "propertyDepositAmount":depositAmount,
        "isVat":atLeastOneIsChecked,
        "propertyOccupancyDate":occupationDate
      };

      var postData = JSON.stringify(dataJson);
      //
      console.log(postData)

      // post data
      $.ajax({
        type: 'POST',
        url: '/api/v1/properties/add_property',
        data: postData, // or JSON.stringify ({name: 'jonas'}),
        success: function(result) {
          swal(
                  'Successful Save',
                  'The receipt has been saved successfully.',
                  'success'
          )

        },
        error:function (error) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Some fields have not yet been filled.',
          })

        },
        contentType: "application/json",
        dataType: 'json'
      });

    }else {

      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Some fields have not yet been filled.',
      })
    }



  }

  function submitReceiptData() {
    var referenceNo = document.getElementById("referenceNo").value;
    var paidAmount = document.getElementById("paidAmount").value;
    var receiptDate = document.getElementById("receiptDate").value;
    var propertySelectName = $('#propertySelectName :selected').text();

    if (referenceNo && paidAmount && receiptDate){

      // convert to JSON
      var dataJson = {
        "receiptReference":referenceNo,
        "amountPaid":paidAmount,
        "datePaid":receiptDate,
        "propertyName":propertySelectName,
      };

      var postData = JSON.stringify(dataJson);
      //
      console.log(postData)

      // post data
      $.ajax({
        type: 'POST',
        url: '/api/v1/receipts/add_receipts',
        // url: 'http://192.168.84.165:8084/api/v1/receipts/add_receipts',
        data: postData, // or JSON.stringify ({name: 'jonas'}),
        success: function(result) {
          swal(
                  'Successful Save',
                  'The expense has been saved successfully.',
                  'success'
          )

        },
        error:function (error) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Some fields have not yet been filled.',
          })

        },
        contentType: "application/json",
        dataType: 'json'
      });

    }else {

      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Some fields have not yet been filled.',
      })

    }



  }

  function submitUtilityExpense() {

    var utilityExpenseName = document.getElementById("utilityExpenseName").value;
    var utilityDepositAmount = document.getElementById("utilityDepositAmount").value;
    var expenseDate = document.getElementById("expenseDate").value;
    var propertySelectName = $('#propertyNames :selected').text();

    if (utilityExpenseName && utilityDepositAmount && expenseDate){

      var dataJson = {
        "expenseName":utilityExpenseName,
        "expenseAmount":utilityDepositAmount,
        "expenseDate":expenseDate,
        "propertyName":propertySelectName,
      };

      var postData = JSON.stringify(dataJson);

      $.ajax({
        type: 'POST',
        url: '/api/v1/expenses/add-utility-expenses',
        data: postData, // or JSON.stringify ({name: 'jonas'}),
        success: function(result) {

          swal(
                  'Successful Save',
                  'The expense has been saved successfully.',
                  'success'
          )

        },
        error:function (error) {
          // alert('error: ' + error);
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Something went wrong!',
          })

        },
        contentType: "application/json",
        dataType: 'json'
      });


    }else {

      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Some fields have not yet been filled.',
      })

    }

  }

  function submitExtraExpense() {
    var expenseName = document.getElementById("expenseName").value;
    var expenseDepositAmount = document.getElementById("expenseDepositAmount").value;
    var paidExpenseDate = document.getElementById("paidExpenseDate").value;
    var nameProperty = $('#nameProperty :selected').text();

    if (expenseName && expenseDepositAmount && paidExpenseDate){

      // convert to JSON
      var dataJson = {
        "expenseName":expenseName,
        "expenseAmount":expenseDepositAmount,
        "expenseDate":paidExpenseDate,
        "propertyName":nameProperty,
      };

      var postData = JSON.stringify(dataJson);

      // post data
      $.ajax({
        type: 'POST',
        url: '/api/v1/expenses/add-extra-expenses',
        data: postData, // or JSON.stringify ({name: 'jonas'}),
        success: function(result) {
          swal(
                  'Successful Save',
                  'The expense has been saved successfully.',
                  'success'
          )

        },
        error:function (error) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Something went wrong!',
          })

        },
        contentType: "application/json",
        dataType: 'json'
      });

    }else {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Some fields have not yet been filled.',
      })

    }



  }




</script>



<script th:src="@{/assets/js/core/jquery.min.js }"></script>
<script th:src="@{/assets/js/core/popper.min.js }"></script>
<script th:src="@{/assets/js/core/bootstrap.min.js }"></script>
<script th:src="@{/assets/js/plugins/perfect-scrollbar.jquery.min.js }"></script>
<script th:src="@{/assets/js/plugins/chartjs.min.js }"></script>
<script th:src="@{/assets/js/plugins/bootstrap-notify.js }"></script>
<script th:src="@{/assets/js/now-ui-dashboard.min.js}"></script>
<script th:src="@{/assets/css/demo.js }"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE "></script>

<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>
</body>

</html>

</html>