<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
<!--    <title>Title</title>-->

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/now-ui-dashboard.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/dashboard.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/demo.css}" />

</head>

<body>

<div class="sidebar" data-color="blue">

    <!--Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"-->
    <div class="logo">
<!--        <a href="#" class="simple-text logo-mini">PM</a>-->
        <a href="#" class="simple-text logo-normal">Properties Management</a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a>
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li>
                <a data-toggle="modal" data-target="#myAddPropertyModal">
                    <i class="fa fa-plus" aria-hidden="true" ></i>
                    <p>Add property</p>
                </a>
            </li>
            <li>
                <a data-toggle="modal" data-target="#addPaymentReceipts">
                    <i class="fa fa-eye" aria-hidden="true" ></i>
                    <p>Add Payment Receipt</p>
                </a>
            </li>
            <li>
                <a data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-eye" aria-hidden="true" ></i>
                    <p>View property statements</p>
                </a>
            </li>


<!--            <li class="active-pro">-->
<!--                <a href="./upgrade.html">-->
<!--                    <i class="fa fa-cloud-download" aria-hidden="true"></i>-->
<!--                    <p>Download Android Apps</p>-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </div>
</div>

</body>

</html>